<manifest package="com.example.hellocompose"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Add this permission -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:label="Hello Compose"
      android:icon="@android:drawable/sym_def_app_icon"
      android:allowBackup="true"
      android:supportsRtl="true"
      android:usesCleartextTraffic="true">  <!-- dev only: allows http://192.168.x.x -->

    <activity
        android:name=".MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>

